body {
  background-color: #f8f9fa;
  overflow: hidden;
}

.container {
  max-width: 700px;
}

.status-lable {
  width: 100px;
}

.mobile-table {
  display: none;
}
.mobile-table__item {
  padding: 10px;
  border-bottom: 1px solid gray;
}
.mobile-table__item span {
  display: block;
  width: 100%;
}
.mobile-table__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.mobile-table__column_name {
  text-align: center;
  width: 100px !important;
  padding-right: 10px;
}
.mobile-table__column_value {
  text-align: center;
}
.mobile-table .status-mobile {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.form-check-input {
  cursor: pointer;
}

@media (max-width: 450px) {
  .table {
    display: none;
  }
  .mobile-table {
    display: block;
  }
}
